---
import Icon from "../Icon.astro"
---

<a href="#contact" class="inline-flex items-center gap-2 px-6 font-primary font-bold border border-transparent hover:border-primary-400 transition-all duration-150">
    contact me
    <Icon>chat_bubble_outline</Icon>
</a>