---
---

<section id="about">
    <h2>about me</h2>

    <div>
        <p>Hey! My name is Josh and I develop websites and web apps.</p>

        <div>
            <img src="./img/josh.png" alt="Josh" />
        </div>
    </div>

    <div>
        <div>
            <h3>what i do</h3>

            <p>
                The internet is always in a state of change; keeping on top of
                these changes has been an exciting hobby for me since the early
                2000's.
            </p>

            <p>
                With a strong understanding of HTML, CSS, Tailwind, PHP,
                JavaScript, and React combined with experience and fascination
                with modern web development tools, I can be a valuable member of
                your team.
            </p>
        </div>

        <div>
            <h3>a little bit about me</h3>

            <p>
                I was born and raised in Langley, BC. In the early 2000's during
                highschool, I taught myself how to code websites from scratch.
                Between 2011 and 2023 I had a successful career as a Journeyman
                Electrician, wiring everything imaginable including small
                condos, apartment buildings, and industrial food production
                plants.
            </p>

            <p>
                Recently, I've found myself rediscovering my fascination with
                website design and development. I have developed multiple
                personal projects and projects for others.
            </p>

            <p>
                I currently reside in Port Coquitlam with my wife. In my spare
                time you will find me hiking, skateboarding, snowboarding or
                searching for the perfect IPA and the nearest brewery.
            </p>
        </div>

        <div>
            <p>Please feel free to have a look at my resume</p>

            <a href="./resume.pdf">resume</a>
        </div>
    </div>
</section>
