---

---

<section id="contact">

    <h2>let's talk</h2>

    <p>
        * required fields
    </p>

    <form id="email-form" action="email-handler.php" method="post">
        <div class="contact-form">

          <label>
            <span>name*</span>
            <input type="text" name="name" id="name" required>
          </label>

          <label>
            <span>email*</span>
            <input type="email" name="email" id="email" required>
          </label>

          <label>
            <span>phone</span>
            <input type="tel" name="phone" id="phone">
          </label>

          <label>
            <span>message*</span>
            <textarea name="message" id="message" required></textarea>
          </label>

          <input type="submit" value="Send Email" class="btn">

          <div id="email-response" class="mt1"></div>
    
        </div>
      </form>

      <div class="contact-info">

        <p>
          For web design and development services, job opportunities, or general information, feel free to use the contact form, email, or social media to get in touch with me.
        </p>

        <p>
          I am always open to discussing new projects or opportunities to be a part of!
        </p>

        <div class="contact-icons">

          <img src="./img/contact/email.svg" alt="">
          <span>
            <a href="mailto:jkaye@shaw.ca">jkaye@shaw.ca</a>
          </span>

          <img src="./img/contact/location.svg" alt="">
          <span class="clr-secondary-5">
            port coquitlam, bc
          </span>

          <img src="./img/contact/github.svg" alt="">
          <span>
            <a href="https://github.com/kaye360">@kaye360</a>
          </span>

          <img src="./img/contact/linkedin.svg" alt="">
          <span>
            <a href="https://www.linkedin.com/in/josh-kaye-ca/" target="_blank">@josh-kaye-ca</a>
          </span>

          <img src="./img/contact/instagram.svg" alt="">
          <span>
            <a href="https://www.instagram.com/kaye.360/" target="_blank">@kaye.360</a>
          </span>


        </div>
    </div>


</section>