---
---

<section id="home">

    <div class="hero-wrapper-bg"></div>

    <div>
        <div class="slide-right">
            <span> hi, I'm Josh and...</span>
            <h1>
                i develop
                <span> websites</span>
                and
                <span> web apps</span>
            </h1>
        </div>

        <div class="slide-right">
            hiring a web developer for your next project? based out of Port
            Coquitlam, BC, I am ready to help you out.
        </div>
        
        <div class="slide-right">
            <a href="#portfolio"> view my work</a>
            
            <a href="#contact"> let's talk</a>
        </div>
    </div>

    <div class="slide-left">
        <img src="./img/hero.svg" />
    </div>

</section>
