---
---

<nav class="fixed top-0 left-0 right-0 z-[9999]">
<div class="flex justify-between items-center py-4 bg-gray-300 mx-auto px-def w-full max-w-7xl">

	<div>
		<a href="#home"> JOSHKAYE.CA</a>
	</div>

	<button id="mobile-nav-button" class="md:hidden">
		<svg
			width="30"
			height="30"
			viewBox="0 0 30 30"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<line
				class="menu-btn-line-top"
				x1="1"
				y1="10"
				x2="29"
				y2="10"
				stroke="#333333"
				stroke-width="2"
				stroke-linecap="round"></line>
			<line
				class="menu-btn-line-bottom"
				x1="1"
				y1="20"
				x2="29"
				y2="20"
				stroke="#333333"
				stroke-width="2"
				stroke-linecap="round"></line>
		</svg>
	</button>

	<div class="menu-wrapper">
		<slot />
	</div>

</div>
</nav>

<div class="menu-highlight"></div>


<style is:global>

@media screen and (max-width : 768px) {
	.menu-wrapper {
		position : fixed;	
		inset : 0;
		z-index: -1;
		transform: translateX(110vw);
		transition: all 250ms;
		background-color: azure;
		display : grid;
		place-items: center;
	}

	.mobile-nav-is-open .menu-wrapper {
		transform: none;
	}
}

</style>


<script>

	const mobileNavBtn = document.querySelector('#mobile-nav-button') as HTMLButtonElement
	const body = document.body
	
	mobileNavBtn.addEventListener('click', () => {
		body.classList.toggle('mobile-nav-is-open')
	})
</script>
