---

---

<section id="skills" class="bg-gray-600 w-full">

    <div class="max-width px-def py-8">

        <h2>i work well with</h2>

        <p>
            html css tailwind javascript typescript react node/express mongoDB php mysql laravel git figma
        </p>

    </div>

</section>