---
import '../main.css'
import About from "../components/About.astro";
import Analytics from "../components/Analytics.astro";
import Class from "../components/Class.astro";
import ClassList from "../components/ClassList.astro";
import Contact from "../components/Contact.astro";
import Course from "../components/Course.astro";
import CourseList from "../components/CourseList.astro";
import Education from "../components/Education.astro";
import FixedBg from "../components/FixedBg.astro"
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import NavLink from "../components/NavLink.astro";
import Portfolio from "../components/Portfolio.astro";
import Project from "../components/Project.astro";
import SocialLink from "../components/SocialLink.astro";
import Skills from "../components/Skills.astro";
import SkipToContent from '../components/SkipToContent.astro';
import GithubIcon from '../components/icons/GithubIcon.astro';
import InstagramIcon from '../components/icons/InstagramIcon.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
import NavIndicator from '../components/NavIndicator.astro';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

		<script is:raw src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
		<script is:raw src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>

		 <!-- Primary Meta Tags -->
		<title>JoshKaye.dev - Web Developer Portfolio - Port Coquitlam, BC</title>
		<meta name="title" content="JoshKaye.dev - Web Developer Portfolio - Port Coquitlam, BC">
  		<meta name="description" content="Hiring a web developer for your next project? I'm ready. Josh Kaye is a full stack web developer with experience in HTML, CSS, JavaScript, React, Graphic Design, and much more. ">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://joshkaye.dev/">
		<meta property="og:title" content="Web Developer in Port Coquitlam, BC. Josh Kaye">
		<meta property="og:description" content="Hiring a web developer for your next project? I'm ready. Josh Kaye is a full stack web developer with experience in HTML, CSS, JavaScript, React, Graphic Design, and much more. ">
		<meta property="og:image" content="https://joshkaye.dev/favicon/card.png">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://joshkaye.dev/">
		<meta name="twitter:title" content="Web Developer in Port Coquitlam, BC. Josh Kaye">
		<meta name="twitter:description" content="Hiring a web developer for your next project? I'm ready. Josh Kaye is a full stack web developer with experience in HTML, CSS, JavaScript, React, Graphic Design, and much more. ">
		<meta name="twitter:image" content="https://joshkaye.dev/favicon/card.png">

	</head>
	<body class="bg-primary-100 font-primary text-lg p-0 m-0">

		<div 
			id="home"
			class="absolute top-0 left-0 h-0 w-0"
		></div>


		<SkipToContent />		



		<FixedBg />



		<NavIndicator />


		<Nav>
			<ul id="social-nav" class="relative flex items-center gap-6 justify-end">

				<SocialLink 
					link="https://github.com/kaye360/" 
					alt="GitHub" 
				>
					<GithubIcon mode="dark" />
				</SocialLink>

				
				<SocialLink 
					link="https://www.linkedin.com/in/josh-kaye-ca/" 
					alt="LinkedIn" 
				>
					<LinkedinIcon mode="dark" />
				</SocialLink>

				<SocialLink 
					link="https://www.instagram.com/kaye.360/" 
					alt="Instagram" 
				>
					<InstagramIcon mode="dark" />
				</SocialLink>

			</ul>

			<ul id="main-nav" class="flex items-center gap-8 justify-end mt-2">

				<NavLink id="navHome" link="#home">home</NavLink>
				<NavLink id="navPortfolio" link="#portfolio">portfolio</NavLink>
				<NavLink id="navAbout" link="#about">about</NavLink>
				<NavLink id="navContact" link="#contact">contact</NavLink>
				<NavLink id="navResume" link="/docs/resume.pdf">resume</NavLink>

				<!-- <li id="menu-indicator"></li> -->

			</ul>
		</Nav>


		<main id="content" class="grid items-center gap-12 md:gap-24">



			<Hero />



			<Portfolio>
				
				<Project
					heading="1. Quark Social"
					subheading="Social Media Microblogging App"
					topics="React, TypeScript, Redux, Firebase"
					image="/img/projects/quark.webp"
					liveLink="https://quark-social.netlify.app/"
					repoLink="https://github.com/kaye360/firebase-twitter-clone"
				>
					<div>
						<p class="mb-2">
							Quark is a social media web app similar to Twitter and Facebook. It uses the following technologies:
						</p>
	
						<ul class="list-disc pl-6">
							<li>React/Redux</li>
							<li>Typescript</li>
							<li>Google Firebase</li>
							<li>Tailwind</li>
							<li>Framer Motion</li>
							<li>Netlify</li>
						</ul>
					</div>

				</Project>
				
				<Project
					heading="2. CashFlo"
					subheading="Personal Expense Web App"
					topics="PHP, MYSQL, Tailwind, MVC, OOP, Routing"
					image="/img/projects/cashflo.webp"
					liveLink="https://cashflo.joshkaye.ca/"
					repoLink="https://github.com/kaye360/CashFlo"
				>
					<p>
						This web app features User sign up and authentication, as well as adding transactions, budgets. The app also transforms this data and displays it in a UI with eye-pleasing graphs.
					</p>
					<p>
						Feel free to test out the app by signing is as "Guest123" and password "123456"
					</p>
				</Project>
				
				<Project
					heading="3. React Mario!"
					subheading="Super Mario Browser Game"
					topics="React, TypeScript, Tailwind, Gaming"
					image="/img/projects/mario.webp"
					liveLink="https://react-mario.netlify.app/"
					repoLink="https://github.com/kaye360/react-mario"
				>
					<p>
						A custom made browser version of the classic game Super Mario. Try it out by using the left, right, and up arrows to move!
					</p>
				</Project>

				<Project
					heading="4. BookStack"
					subheading="Personal Library Web App"
					topics="Full-Stack, React, TypeScript, PHP, MYSQL, Tailwind"
					image="/img/projects/bookstack.webp"
					liveLink="https://bookstack.joshkaye.ca/"
					repoLink="https://github.com/kaye360/bookstack-v2"
				>
					<div>
						<p class="mb-2">
							This web app has the following notable features:
						</p>
			
						<ul class="list-disc [&>li]:ml-6">
							<li>Custom, responsive User Interface made with React and Tailwind</li>
							<li>User notifications and a community feed showing user activity</li>
							<li>User signup, login, and authentication</li>
							<li><strong>Custom REST API and router</strong> with user defined routes</li>
							<li>GitHub Actions for automatic continuous deployment</li>
						</ul>
					</div>
				</Project>
			
				<Project
					heading="5. Vitality Fitness"
					subheading="Personal Trainer Wordpress Site"
					topics="HTML, CSS, Wordpress, PHP"
					image="/img/projects/vitality-fitness.webp"
					liveLink="https://vitality-fitness.ca/"
				>
					<p>
						For this project, I worked with the client, Nola, to identify her business goals for her website.
					</p>

					<p>
						I created a custom, responsive Wordpress theme for Vitality Fitness. The project required custom blocks and custom JavaScript Image Slider.
					</p>
				</Project>

				<Project
					heading="6. Bikes & Brews"
					subheading="Local Biking/Beer Enthusiant Wordpress Site"
					topics="HTML, CSS, Wordpress, PHP"
					image="/img/projects/bikes-and-brews.webp"
					liveLink="https://bikesandbrews.ca/"
				>
					<p>
						For this project, I worked with the client, Bill, to create website for a local cycling and brewery group.
					</p>

					<p>
						I created a custom, responsive WordPress theme for for Tri City Bikes and Brews.
					</p>
				</Project>
							
				<Project
					heading="7. More GitHub Projects"
					subheading="Smaller/Experimental projects of mine"
					image="/img/projects/github.webp"
					repoLink="https://github.com/kaye360"
				>
					<p>
						You can view more of my work on my GitHub account. Here I have smaller, experimental, and tutorial projects that I have created.
					</p>
				</Project>
			
			</Portfolio>



			<Skills />



			<About />



			<Education>

				<CourseList>

					<Course 
						title="React Tutorial and Projects" 
						subtitle="Udemy (60 hours)" 
					/>

					<Course 
						title="Software Architecture and Clean Code Design in OOP" 
						subtitle="Udemy (20 hours)" 
					/>

					<Course 
						title="The Modern Javascript Bootcamp" 
						subtitle="Udemy (52 hours)" 
					/>

					<Course 
						title="Full Stack JavaScript path" 
						subtitle="The Odin Project (127 Lessons)" 
					/>
					
					<Course
						title="Learn to Code with Ruby"
						subtitle="Udemy (31.5 hours)"
					/>

				</CourseList>

				
				<ClassList>

					<Class
						title="SOLID Principles: Introducing Software Architecture & Design"
						subtitle="Udemy (2 hours)"
					/>

					<Class
						title="Object Oriented PHP & MVC"
						subtitle="Udemy (6.5 hours)"
					/>

					<Class
						title="Laravel From Scratch 2022"
						subtitle="Traversy Media (4 hours)"
					/>

					<Class
						title="TypeScript Full Course"
						subtitle="Dave Gray (8 hours)"
					/>

					<Class
						title="Node/Express Course"
						subtitle="freeCodeCamp.org (10 hours)"
					/>

					<Class
						title="Tailwind Full Course"
						subtitle="Dave Gray (3 hours)"
					/>


				</ClassList>

			</Education>



			<Contact />

		</main>



		<Footer />



		<Analytics />

	</body>
</html>

