---
import '../main.css'
import About from "../components/About.astro";
import Analytics from "../components/Analytics.astro";
import Class from "../components/Class.astro";
import ClassList from "../components/ClassList.astro";
import Contact from "../components/Contact.astro";
import Course from "../components/Course.astro";
import CourseList from "../components/CourseList.astro";
import Education from "../components/Education.astro";
import FixedBg from "../components/FixedBg.astro"
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
import NavLink from "../components/NavLink.astro";
import Portfolio from "../components/Portfolio.astro";
import Project from "../components/Project.astro";
import SocialLink from "../components/SocialLink.astro";
import Skills from "../components/Skills.astro";
import SkipToContent from '../components/SkipToContent.astro';
import GithubIcon from '../components/icons/GithubIcon.astro';
import InstagramIcon from '../components/icons/InstagramIcon.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>


		<title>JoshKaye.ca - Web Developer Portfolio - Port Coquitlam, BC</title>
	</head>
	<body class="bg-primary-100 font-primary p-0 m-0">



		<SkipToContent />		



		<FixedBg />



		<Nav>
			<ul id="social-nav" class="flex items-center gap-6 justify-end">

				<SocialLink 
					link="https://github.com/kaye360/" 
					alt="GitHub" 
				>
					<GithubIcon mode="dark" />
				</SocialLink>

				
				<SocialLink 
					link="https://www.linkedin.com/in/josh-kaye-ca/" 
					alt="LinkedIn" 
				>
					<LinkedinIcon mode="dark" />
				</SocialLink>

				<SocialLink 
					link="https://www.instagram.com/kaye.360/" 
					alt="Instagram" 
				>
					<InstagramIcon mode="dark" />
				</SocialLink>

			</ul>

			<ul id="main-nav" class="flex items-center gap-6 justify-end mt-4">

				<NavLink link="#home">home</NavLink>
				<NavLink link="#portfolio">portfolio</NavLink>
				<NavLink link="#about">about</NavLink>
				<NavLink link="/docs/resume.pdf">resume</NavLink>
				<NavLink link="#contact">contact</NavLink>

			</ul>
		</Nav>


		<main id="content" class="flex flex-col items-center gap-24">



			<Hero />



			<Portfolio>

				<Project
					heading="BookStack (Featured)"
					subheading="Personal Library Web App"
					topics="Full-Stack, React, TypeScript, PHP, MYSQL, Tailwind"
					image="/img/bookstack.png"
					demoLink="https://bookstack.joshkaye.ca/"
					repoLink="https://github.com/kaye360/bookstack-v2"
				>
					<p>
						This web app has the following notable features:
					</p>
		
					<ul class="list-disc [&>li]:ml-6">
						<li>Custom, responsive tailwind layout with light/dark mode</li>
						<li>React User Interface with custom hooks, React Router, and Tanstack Queries</li>
						<li>User notifications and a community feed showing user activity</li>
						<li>User signup, login, and authentication</li>
						<li><strong>Custom REST API and router</strong> with user defined routes</li>
						<li>Backend database class to build queries efficiently</li>
						<li>GitHub Actions for automatic continuous deployment</li>
					</ul>
				</Project>
			
				<Project
					heading="Space App"
					subheading="Solar System Web App"
					topics="React, TypeScript, Tailwind"
					image="/img/space-app.png"
					demoLink="https://joshs-space-app.netlify.app"
					repoLink="https://github.com/kaye360/space-app"
				>
					<p>
						This mini app fetches info from the Solar System OpenData API and features a custom UI for browsing information about each planet. The UI animations were made custom with CSS.
					</p>
				</Project>
			
				<Project
					heading="Spendly"
					subheading="Money Tracking Web App"
					topics="Full-Stack, PHP, MYSQL, react, javascript, CSS"
					image="/img/spendly.png"
					demoLink="https://joshkaye.ca/projects/spendly/"
					repoLink="https://github.com/kaye360/money-tracker"
				>
					<p>
						Spendly is a custom Full-Stack web app that I've programmed from the ground up. It features a front-end UI made with React, and a backend with PHP and MYSQL.
					</p>

					<p>
						User info, budgets, transactions, and forecast entries are stored in a MYSQL databased that can be accessed through my custom API.
					</p>

					<p>
						Hint: Log in as "guest123" with password "123456"
					</p>
				</Project>

				<Project
					heading="Vitality Fitness"
					subheading="Personal Trainer Wordpress Site"
					topics="HTML, CSS, Wordpress, PHP"
					image="/img/vitality-fitness.png"
					liveLink="https://vitality-fitness.ca/"
				>
					<p>
						For this project, I worked with the client, Nola, to identify her business goals for her website.
					</p>

					<p>
						I created a custom, responsive Wordpress theme for Vitality Fitness. The project required custom blocks and custom JavaScript Image Slider.
					</p>
				</Project>

				<Project
					heading="Bikes & Brews"
					subheading="Local Biking/Beer Enthusiant Wordpress Site"
					topics="HTML, CSS, Wordpress, PHP"
					image="/img/bikes-and-brews.png"
					liveLink="https://bikesandbrews.ca/"
				>
					<p>
						For this project, I worked with the client, Bill, to create website for a local cycling and brewery group.
					</p>

					<p>
						I created a custom, responsive WordPress theme for for Tri City Bikes and Brews.
					</p>
				</Project>

				<Project
					heading="More GitHub Projects"
					subheading="Smaller/Experimental projects of mine"
					image="/img/github.png"
					liveLink="https://github.com/kaye360"
				>
					<p>
						You can view more of my work on my GitHub account. Here I have smaller, experimental, and tutorial projects that I have created.
					</p>
				</Project>
			
			</Portfolio>



			<Skills />



			<About />



			<Education>

				<CourseList>

					<Course 
						title="React Tutorial and Projects" 
						subtitle="Udemy (60 hours)" 
					/>

					<Course 
						title="Software Architecture and Clean Code Design in OOP" 
						subtitle="Udemy (20 hours)" 
					/>

					<Course 
						title="The Modern Javascript Bootcamp" 
						subtitle="Udemy (52 hours)" 
					/>

					<Course 
						title="Full Stack JavaScript path" 
						subtitle="The Odin Project (127 Lessons)" 
					/>
					
					<Course
						title="Learn to Code with Ruby"
						subtitle="Udemy (31.5 hours)"
					/>

				</CourseList>

				
				<ClassList>

					<Class
						title="SOLID Principles: Introducing Software Architecture & Design"
						subtitle="Udemy (2 hours)"
					/>

					<Class
						title="Object Oriented PHP & MVC"
						subtitle="Udemy (6.5 hours)"
					/>

					<Class
						title="Laravel From Scratch 2022"
						subtitle="Traversy Media (4 hours)"
					/>

					<Class
						title="TypeScript Full Course"
						subtitle="Dave Gray (8 hours)"
					/>

					<Class
						title="Node/Express Course"
						subtitle="freeCodeCamp.org (10 hours)"
					/>


				</ClassList>

			</Education>



			<Contact />

		</main>



		<Footer />



		<Analytics />

	</body>
</html>
