---
import Icon from "./Icon.astro";
import Type from "./Type.astro";
---

<section id="about" class="max-width px-def">
    
    <div class="grid md:grid-cols-2 gap-8 items-start">

        <div>
            <h2 class="mb-8 flex items-center gap-2">
                <Icon class="text-4xl">mood</Icon>
                about me
            </h2>
            <p class="text-3xl leading-normal">
                Hey! My name is Josh and I develop websites and web apps.
            </p>
        </div>

        <img src="./img/josh.png" alt="Josh" />
    </div>

    <div class="grid md:grid-cols-2 gap-12 mt-12">

        <Type class="bg-primary-200 bg-opacity-70 p-6">
            <h3>what i do</h3>

            <p>
                The internet is always in a state of change; keeping on top of
                these changes has been an exciting hobby for me since the early
                2000's.
            </p>

            <p>
                With a strong understanding of HTML, CSS, Tailwind, PHP,
                JavaScript, and React combined with experience and fascination
                with modern web development tools, I can be a valuable member of
                your team.
            </p>

            <p>Please feel free to have a look at my resume</p>

            <a href="./resume.pdf" class="inline-flex items-center gap-2 w-fit px-4 py-2 bg-secondary-200 text-secondary-800 hover:bg-secondary-800 hover:text-secondary-200 hover:tracking-[0.3rem] font-bold transition-all duration-150">
                <Icon>description</Icon>
                resume
            </a>
        </Type>

        <Type class="p-6">
            <h3>a little bit about me</h3>

            <p>
                I was born and raised in Langley, BC. In the early 2000's during
                highschool, I taught myself how to code websites from scratch.
                Between 2011 and 2023 I had a successful career as a Journeyman
                Electrician, wiring everything imaginable including small
                condos, apartment buildings, and industrial food production
                plants.
            </p>

            <p>
                Recently, I've found myself rediscovering my fascination with
                website design and development. I have developed multiple
                personal projects and projects for others.
            </p>

            <p>
                I currently reside in Port Coquitlam with my wife. In my spare
                time you will find me hiking, skateboarding, snowboarding or
                searching for the perfect IPA and the nearest brewery.
            </p>
        </Type>

    </div>
</section>
