---
// @ts-nocheck
---

<!-- Default Statcounter code for JoshKaye.ca
https://www.joshkaye.ca -->
<script type="text/javascript">
	var sc_project=12778591; 
	var sc_invisible=1; 
	var sc_security="0195830d"; 
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js"
	async></script>
	<noscript><div class="statcounter"><a title="Web Analytics"
	href="https://statcounter.com/" target="_blank"><img
	class="statcounter"
	src="https://c.statcounter.com/12778591/0/0195830d/1/"
	alt="Web Analytics"
	referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->