---
interface Props {
    title: string,
    subtitle: string
}

const {title, subtitle} = Astro.props
---

<div>
    <h4 class="text-lg font-semibold">{title}</h4>
    <span class="text-primary-500">{subtitle}</span>
</div>