---
import Icon from "./Icon.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import LocationIcon from "./icons/LocationIcon.astro";
import Type from "./Type.astro";
---

<section id="contact" class="grid md:grid-cols-2 gap-8 max-width px-def py-16 bg-primary-800 text-primary-100">

	<div class="md:col-span-2">
		<h2 class="flex items-center gap-2">
			<Icon class="text-4xl">chat_bubble_outline</Icon>
			let's connect
		</h2>
	
		<p class="mt-8">* required fields</p>
	</div>

	<form id="email-form" action="email-handler.php" method="post" data-netlify="true">
		<input type="hidden" name="subject" value="JoshKaye.ca Inquiry" />
		
		<div class="flex flex-col gap-8">
			<label>
				<span>name*</span>
				<input type="text" name="name" id="name" required />
			</label>

			<label>
				<span>email*</span>
				<input type="email" name="email" id="email" required />
			</label>

			<label>
				<span>phone</span>
				<input type="tel" name="phone" id="phone" />
			</label>

			<label>
				<span>message*</span>
				<textarea name="message" id="message" required class="h-32"></textarea>
			</label>

			<div class="flex gap-4 items-center">

				<input type="submit" value="Send Email" class="cursor-pointer bg-primary-300 text-primary-800 font-bold px-4 py-2 hover:tracking-[0.3rem] transition-all duration-150" />
				
				<div id="form-result" class="flex items-center gap-2"></div>

			</div>

		</div>
	</form>

	<Type class="p-6 bg-primary-900">
		<p>
			For web design and development services, job opportunities, or
			general information, feel free to use the contact form, email, or
			social media to get in touch with me.
		</p>

		<p>
			I am always open to discussing new projects or opportunities to be a
			part of!
		</p>

		<div class="grid gap-4 contact-info-grid">
			<EmailIcon mode="light" />
			<a href="mailto:jkaye@shaw.ca">jkaye@shaw.ca</a>

			<GithubIcon mode="light" />
			<a href="https://github.com/kaye360" target="_blank">
				@kaye360
			</a>

			<LinkedinIcon mode="light" />
			<a href="https://www.linkedin.com/in/josh-kaye-ca/" target="_blank">
				@josh-kaye-ca
			</a>

			<InstagramIcon mode="light" />
			<a href="https://www.instagram.com/kaye.360/" target="_blank">
				@kaye.360
			</a>
			
			<LocationIcon mode="light" />
			<span class="clr-secondary-5"> port coquitlam, bc</span>

		</div>
	</Type>
</section>


<style>

	label {
		display :grid;
		gap : 2;
		font-size: 1.3rem;
	}

	input, textarea {
		padding : 0.5rem;
		max-width: 50ch;
		background-color: hsl( var(--color-primary-700) );
		letter-spacing: 0.05rem;
	}

	.contact-info-grid {
		grid-template-columns: 25px 1fr;
	}

	a:hover {
		text-decoration: underline;
	}

</style>


<script>
const handleSubmit = (event: Event) => {
	event.preventDefault();

	const myForm: any = event.target
	const formData: any = new FormData(myForm)
	const formResult = document.querySelector('#form-result') as HTMLDivElement

	formResult.innerHTML = '<img src="/icon/email-loading.svg"> Sending...'

	fetch("/", {
		method: "POST",
		headers: { "Content-Type": "application/x-www-form-urlencoded" },
		body: new URLSearchParams(formData).toString(),
	})
	.then( () => formResult.innerHTML = 'Email Sent!' )
	.catch( () => formResult.innerHTML = 
		'Error. Please try another method.'
)}

const form = document.querySelector("form") as HTMLFormElement
form.addEventListener("submit", handleSubmit);

</script>