---
interface Props {
    title: string,
    subtitle: string
}

const { title, subtitle } = Astro.props

---

<div>

    <h3 class="text-xl text-primary-700 font-semibold">{title}</h3>
    <p class="text-primary-500">{subtitle}</p>
</div>