---
import Icon from "./Icon.astro";

---

<section id="education" class="max-width px-def">

    <h2 class="my-8 flex items-center gap-2">
        <Icon class="text-4xl">class</Icon>
        education/courses
    </h2>

    <div class="grid gap-8 education-grid">

        <slot />
        
    </div>


</section>


<style>

@media screen and (min-width : 768px) {

    .education-grid {
        grid-template-columns: 2fr 1.2fr;
    }
}

</style>