---

---

<footer class="mt-12 py-24 bg-primary-900 text-center text-secondary-200">
    <p>
        &copy; copyright 2023 joshkaye.dev
    </p>
    <p>
        Made with Astro, Tailwind, GSAP, Netlify
    </p>
</footer>