---

---

<footer class="mt-12 py-24 bg-gray-900 text-center text-gray-200">
    <p>
        &copy; copyright 2023 joshkaye.ca
    </p>
    <p>
        Made with Astro, Tailwind, GSAP, Netlify
    </p>
</footer>