---
---

<section id="home" class="relative z-10 grid md:grid-cols-2 items-center max-w-7xl min-h-[80vh] px-def">

    <div class="hero-wrapper-bg"></div>

    <div class="flex flex-col gap-8">
        <div class="slide-right">

            <span> hi, I'm Josh and...</span>

            <h1 class="">
                i develop
                <span> websites</span>
                and
                <span> web apps</span>
            </h1>

        </div>

        <div class="slide-right">
            hiring a web developer for your next project? based out of Port
            Coquitlam, BC, I am ready to help you out.
        </div>
        
        <div class="slide-right">
            <a href="#portfolio"> view my work</a>
            <!-- Make CTA'S big -->
            
            <a href="#contact"> let's talk</a>
        </div>
    </div>

    <div class="slide-left">
        <img src="./img/hero.svg" />
    </div>

</section>


<style>
    .hero-wrapper-bg {
        position : absolute;
        top : 40%;
        right : 0;
        z-index : 999;
        width : 100px;
        height : 100px;
        /* background-color: red; */
        backdrop-filter : invert(100%);
    }
</style>