---
import HeroPrimaryCTA from "./buttons/HeroPrimaryCTA.astro"
import HeroSecondaryCTA from "./buttons/HeroSecondaryCTA.astro"
import HeroImage from "./HeroImage.astro"
---

<section id="hero" class="relative grid md:grid-cols-2 items-center gap-8 max-w-7xl min-h-screen md:min-h-fit md:mt-8 mx-auto px-def ">

    <div 
        id="hero-intro" 
        class="grid gap-6 
               col-start-1 col-span-1 row-start-1 row-span-1 z-20 
               md:col-start-auto md:row-start-auto
               -rotate-1 text-xl font-secondary font-normal text-primary-600"
    >

        <div>

            <div class="overflow-hidden">
                <p class="animate-pop-in relative w-fit p-2 mb-2 font-medium text-primary-900">
                    <span id="hero-highlight"></span>
                    hi, I'm Josh and...
                </p>
            </div>

            <div class="overflow-hidden">
                <h1 class="animate-pop-in text-3xl">
                    i develop
                    <span class="text-5xl text-primary-700">
                        websites
                    </span>
                    and
                    <span class="text-5xl text-primary-700"> 
                        web apps
                    </span>
                </h1>
            </div>

        </div>

        <div class="overflow-hidden">
            <p class="animate-pop-in">
                hiring a web developer for your next project? based out of Port
                Coquitlam, BC, I am ready to help you out.
            </p>
        </div>
        
        <div id="hero-cta-buttons" class="overflow-hidden w-fit">
            <div class="animate-pop-in grid md:grid-cols-[auto_auto] gap-4 items-stretch">
                <HeroPrimaryCTA />
                <HeroSecondaryCTA />
            </div>
        </div>
    </div>

    <HeroImage />

</section>




<style>


@media screen and (min-width : 769px) {

    #hero-highlight {
        position : absolute;
        inset : 0;
        width : 100%;
        z-index: 200;
        rotate : -1deg;
        backdrop-filter: invert(100%);
        animation : highlight-anim 3s cubic-bezier(.45,.51,0,1.19);
    }

    @keyframes highlight-anim {
        from {
            width: 0%;
        }
        50% {
            width : 100%;
        }
    }
}

</style>
        

        
<script is:inline>

/**
 * Remove overflow-hidden on CTA buttons
 * 
 * Need this because otherwise rocket animation is cut off
 */
const heroCtaButtons = document.querySelector('#hero-cta-buttons')

setTimeout( () => {
    heroCtaButtons.classList.remove('overflow-hidden')
}, 1000)


/**
 * Hero hightlight animation (hi, i'm Josh and...)
 */
gsap.to(['#hero-highlight'], {
    scrollTrigger : {
        trigger : '#hero',
        start : 'top 0%',
        end : 'bottom 0%',
        scrub : 2,
        toggleActions : "restart reverse none none",
    },
    y: 100,
    duration : 2,
    ease : 'power4.out'
})


/**
 * Pop in animation for each hero-intro element
 */
gsap.from('.animate-pop-in', {
    y: 100,
    duration : 1.3,
    ease : 'power4.out',
    stagger : 0.1,
    delay : 0.3,
})

</script>