---
import Icon from "./Icon.astro";
---

<nav class="fixed top-0 left-0 right-0 z-[9999] border-b border-primary-200 bg-primary-100 bg-opacity-95">
<div class="flex justify-between items-center py-4 mx-auto px-def w-full max-w-7xl">

	<a href="#home" class="relative flex items-center gap-2 text-3xl font-bold text-primary-700 tracking-wide hover:tracking-[0.5rem] transition-all duration-150 logo">
		<Icon>terminal</Icon>
		JOSHKAYE.dev
		<!-- J<Icon class="text-3xl rotate-[22deg]">offline_bolt</Icon>SHKAYE.dev -->
	</a>

	<button id="mobile-nav-button" class="md:hidden">
		<svg
			width="30"
			height="30"
			viewBox="0 0 30 30"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<line
				class="menu-btn-line-top"
				x1="1"
				y1="10"
				x2="29"
				y2="10"
				stroke="#333333"
				stroke-width="2"
				stroke-linecap="round"></line>
			<line
				class="menu-btn-line-bottom"
				x1="1"
				y1="20"
				x2="29"
				y2="20"
				stroke="#333333"
				stroke-width="2"
				stroke-linecap="round"></line>
		</svg>
	</button>

	<div id="menu-wrapper">
		<slot />
	</div>

</div>
</nav>

<div class="menu-highlight"></div>



<style>

.logo::before {
	content : '';
	position : absolute;
	inset : 45% 45% -0.5rem -1rem;
	z-index : -1;
	background-color: hsl( var(--color-secondary-100) );
	transition: all 150ms ease-in-out;
}

@media screen and (min-width : 768px) {
  
	.menu-highlight {
		position: fixed;
		top : -10vw;
		left : -10vh;
		z-index: 9999;
		width : 50px;
		height : 50px;
		border-radius: 10px;
		backdrop-filter: invert(100) blur(1px);
		transform: translateY(-50%);
		pointer-events: none;
	}

}

</style>


<style is:global>

@media screen and (max-width : 768px) {
	#menu-wrapper {
		position : fixed;	
		inset : 0;
		z-index: -1;
		transform: translateX(110vw);
		transition: all 250ms;
		display : grid;
		place-items: center;
		background-color : hsl( var(--color-primary-300) );
	}

	.mobile-nav-is-open #menu-wrapper {
		transform: none;
	}

	.mobile-nav-is-open #main-nav {
		flex-direction: column;
	}

	.mobile-nav-is-open .nav-link {
		font-size: 2rem;
	}

	.menu-btn-line-top,
	.menu-btn-line-bottom {
		transform-origin: center;
		transition: all 500ms ease-in-out;
	}

	/* Mobile Menu is Active */
	.mobile-nav-is-open .menu-btn-line-top {
		transform: 
			rotate(225deg) 
			translate(-1px, 5px);
	}

	.mobile-nav-is-open .menu-btn-line-bottom {
		transform: 
			rotate(135deg)
			translate(1px, -5px);
	}

}

</style>


<script is:inline>

// Mobile Nav
const mobileNavBtn = document.querySelector('#mobile-nav-button')
const body = document.body

mobileNavBtn.addEventListener('click', () => {
	body.classList.toggle('mobile-nav-is-open')
})


// Mobbile Nav Cursor
const mainNav = document.querySelector('nav')
const menuHighlight = document.querySelector('.menu-highlight') 

mainNav.addEventListener('mousemove', (e) => {
    menuHighlight.style.top = `${e.clientY}px`
    menuHighlight.style.left = `${e.clientX-20}px`
})

mainNav.addEventListener('mouseout', () => {
  menuHighlight.style.top = '-10vh'
  menuHighlight.style.left = '-10vw'
})
</script>
