---
import Icon from "./Icon.astro";
---

<nav class="sticky top-0 left-0 right-0 z-[9999] border-b-2 border-primary-200 bg-gradient-to-t from-primary-100 to-primary-150">
<div class="flex justify-between items-end pt-2 mx-auto px-def w-full max-w-7xl">

	<a 
		href="#home" 
		id="logo-link"
		class="relative flex items-center gap-2 mb-2 text-3xl font-bold text-primary-700 logo"
	>
		<Icon>terminal</Icon>
		JoshKaye.dev
	</a>

	<button id="mobile-nav-button" class="md:hidden">
		<svg
			width="30"
			height="30"
			viewBox="0 0 30 30"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<line
				class="menu-btn-line-top"
				x1="1"
				y1="10"
				x2="29"
				y2="10"
				stroke="#333333"
				stroke-width="2"
				stroke-linecap="round"></line>
			<line
				class="menu-btn-line-bottom"
				x1="1"
				y1="20"
				x2="29"
				y2="20"
				stroke="#333333"
				stroke-width="2"
				stroke-linecap="round"></line>
		</svg>
	</button>

	<div id="menu-wrapper">
		<slot />
	</div>

</div>
</nav>




<style>

.logo::before {
	content : '';
	position : absolute;
	inset : 45% 85% -0.5rem -1rem;
	z-index : -1;
	background-color: hsl( var(--color-secondary-100) );
}

.logo:hover::before {
	animation : logo-hover 800ms ease-in-out both;
}

@keyframes logo-hover {
	0% {
		inset : 45% 45% -0.5rem -1rem;
	}
	50% {
		inset : 45% -5rem -0.5rem -1rem;
	}
	100% {
		inset : -0.5rem -1rem;
	}
}

@media screen and (min-width : 768px) {
  
	.menu-highlight {
		position: fixed;
		top : -10vw;
		left : -10vh;
		z-index: 9999;
		width : 50px;
		height : 50px;
		border-radius: 10px;
		backdrop-filter: invert(100) blur(1px);
		transform: translateY(-50%);
		pointer-events: none;
	}

}

</style>


<style is:global>

@media screen and (max-width : 768px) {
	#menu-wrapper {
		position : fixed;	
		inset : 0;
		z-index: -1;
		transform: translateY(-150vh) scaleY(0.2);
		transition: all 500ms cubic-bezier(0.430,1.5,1,1);
		display : grid;
		align-items : center;
		justify-content: center;
		padding: 12rem 0 10rem 0;
		background: linear-gradient(
			hsl( var(--color-primary-700) ),
			hsl( var(--color-primary-900) ), 
			hsl( var(--color-primary-900), 0.86 ) 
		);
		clip-path: none;
	}
	
	.mobile-nav-is-open #logo-link {
		color : hsl( var(--color-primary-200) );
	}

	.mobile-nav-is-open #menu-wrapper {
		transform: none;
	}

	.mobile-nav-is-open #main-nav {
		flex-direction: column;
		order : 1;
	}

	.mobile-nav-is-open #social-nav {
		order : 2;
		padding: 1rem 2rem;
		background-color: hsl( var(--color-primary-200), 0.7 );
		border-radius: 999px;
	}
	

	.mobile-nav-is-open .nav-link {
		font-size: 2rem;
		color : hsl( var(--color-primary-200) )
	}

	.menu-btn-line-top,
	.menu-btn-line-bottom {
		transform-origin: center;
		transition: all 500ms ease-in-out;
	}

	/* Mobile Menu Button is Active */
	.mobile-nav-is-open .menu-btn-line-top {
		transform: 
			rotate(225deg) 
			translate(-1px, 5px);
		stroke: hsl( var(--color-primary-100) );
	}

	.mobile-nav-is-open .menu-btn-line-bottom {
		transform: 
			rotate(135deg)
			translate(1px, -5px);
		stroke: hsl( var(--color-primary-100) );
	}

}

</style>


<script is:inline>

// Mobile Nav
const mobileNavBtn = document.querySelector('#mobile-nav-button')
const body = document.body

mobileNavBtn.addEventListener('click', () => {
	body.classList.toggle('mobile-nav-is-open')
})

</script>
