---
interface Props {
    link: string,
    id: string
}

const { link, id } = Astro.props
---

<li>
    <a href={link} id={id} class="nav-link relative inline-block py-1 px-2 text-xl hover:scale-125 transition-all duration-150 overflow-hidden">
        <slot />
    </a>
</li>


<style>

a::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 900;
    translate : 0 100%;
    backdrop-filter: invert(100%) blur(0.7px);
    transition: all 600ms cubic-bezier(.45,.51,0,1.19) ;
}

a:hover::before {
    translate : 0 0;
}

</style>

<script>

const navLinks = document.querySelectorAll('.nav-link')

navLinks.forEach( link => {
    link.addEventListener('click', () => {
        document.body.classList.remove('mobile-nav-is-open')
    })
})

</script>