---
interface Props {
    link: string,
}

const { link } = Astro.props
---

<li>
    <a href={link} class="inline-block text-xl hover:scale-125 transition-all duration-150">
        <slot />
    </a>
</li>