---
interface Props {
    link: string,
}

const { link } = Astro.props
---

<li>
    <a href={link} class="nav-link inline-block text-xl hover:scale-125 transition-all duration-150">
        <slot />
    </a>
</li>


<script>

const navLinks = document.querySelectorAll('.nav-link')

navLinks.forEach( link => {
    link.addEventListener('click', () => {
        document.body.classList.remove('mobile-nav-is-open')
    })
})

</script>