---
import Icon from "./Icon.astro";

---

<section id="portfolio">
    
    <h2 class="bg-primary-800 text-primary-200 py-8 font-primary">
        <span class="block max-width mx-auto px-def">
            <Icon class="text-4xl">design_services</Icon>
            some of my work
        </span>
    </h2>

    <div class="grid gap-0 my-12">

        <slot />

    </div>
    
    
</section>



<script is:inline>

    const projects = gsap.utils.toArray('.project')

    projects.forEach ( project => {

        gsap.from(project, {
            scrollTrigger : {
                trigger : project,
                start : 'top 70%',
                end : 'top 10%',
                scrub : 1,
                toggleActions : "restart reverse none none",
            },
            opacity : 0.5,
            rotate : 3,
            scale : 0.7,
            x: 50,
            duration : 3,
            ease : 'back'
        })
    })

    
</script>