---
import Icon from "./Icon.astro";

---

<section id="portfolio">
    
    <h2 class="bg-primary-800 text-primary-200 py-8">
        <span class="block max-width mx-auto px-def">
            some of my work
            <Icon class="text-4xl">design_services</Icon>
        </span>
    </h2>

    <div class="flex flex-col gap-12 my-12">

        <slot />

    </div>
    
    
</section>