---

---

<section id="portfolio">
    
    <h2 class="bg-gray-100 py-8">
        <span class="block max-width mx-auto px-def">
            some of my work
        </span>
    </h2>

    <div class="flex flex-col gap-12 my-12">

        <slot />

    </div>
    
    
</section>