---
import Icon from "./Icon.astro";

---

<section id="skills" class="bg-primary-800 text-secondary-200 w-full">

    <div class="max-width px-def py-16">

        <h2 class="mb-8">
            <Icon class="text-4xl">keyboard_alt</Icon>
            i work well with 
        </h2>

        <p class="text-xl max-w-lg">
            <span class="skill">html</span>
            <span class="skill">css</span>
            <span class="skill">tailwind</span>
            <span class="skill">javascript</span>
            <span class="skill">typescript</span>
            <span class="skill">react</span>
            <span class="skill">node/express</span>
            <span class="skill">mongoDB</span>
            <span class="skill">php</span>
            <span class="skill">mysql</span>
            <span class="skill">laravel</span>
            <span class="skill">git</span>
            <span class="skill">figma</span>
            <!-- html css tailwind javascript typescript react node/express mongoDB php mysql laravel git figma -->
        </p>

    </div>

</section>


<style>

.skill {
    display : inline-block;
    padding-right : 1rem;
    padding-block : 0.5rem;
}

</style>


<script is:inline>

gsap.matchMedia().add('(min-width: 768px)', () => {
    gsap.to('.skill', {
        x : 50,
        duration : 3,
        repeat : -1,
        stagger : 0.5,
        yoyo : true
    })
})

</script>