---

---

<a 
    href="#content" 
    id="skip"
    class="fixed top-[-200px] focus:top-0 left-0 right-0 z-[999999999] bg-gray-700 text-gray-200 text-center py-4 transition-all duration-200"
>

    Skip to content

</a>