---
interface Props {
    link: string,
    image: string,
    alt: string
}
const {link, image, alt} = Astro.props
---

<li>
    <a href={link} target="_blank">
        <img src={image} alt={alt} />
    </a>
</li>