@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        font-size : 3rem;
    }
}

@layer components {
    .max-width {
        width : 100%;
        max-width: 80rem;
    }

    .px-def {
        padding-inline : 5vw;
    }
}